.fab-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column-reverse;
  position: fixed;
  z-index: 30000;
  right: 2em;
  bottom: 2em;
  max-height: 52px;

  &.open {
    max-height: max-content;
  }

  li {
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: grid;
    place-items: center;
    margin: 8px 0;
    font-size: 28px;
    padding: 12px;
    cursor: pointer;
    position: relative;
    background-color: white;
  }

  .fab-button {
    background-color: #2A9D8F;

    svg {
      fill: white;
    }
  }

  .fab-action {
    transform: translateY(50px) scale(0);
    transition: transform 300ms, opacity 300ms;
    opacity: 0;

    &:hover {
      .tooltip {
        transform: translateX(-100%) scale(1);
        opacity: 1;
      }
    }

    &.open {
      transform: translateY(0) scale(1);
      opacity: 1;
    }

    .tooltip {
      padding: 4px 6px;
      font-size: 12px;
      position: absolute;
      left: -12px;
      transform: translateX(-75%);
      background-color: #353b48;
      border-radius: 4px;
      color: white;
      opacity: 0;
      transition: transform 300ms, opacity 300ms;
      user-select: none;
    }
  }
}

.backdrop {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 1;
  transition: 0.2s ease-out;
  background-color: transparent;

  &.open {
    display: block;
    background-color: black;
    opacity: 0.65;
  }
}
